<!--The content below is only a placeholder and can be replaced.-->
<mat-progress-bar mode="indeterminate" *ngIf="isLodingBar" class="page-loading-bar"></mat-progress-bar>
<app-nav class="toolbar" (menuToggleEvent)="isExpanded=!isExpanded"></app-nav>
<mat-sidenav-container class="container" autosize>
  <mat-sidenav #snav mode="side" opened="true" class="side-menu">
    <button mat-icon-button (click)="go2()">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button (click)="go()" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()" [@menuMouseOver]="isMenuMouserOver">
      <mat-icon>home</mat-icon>
    </button>
    <mat-list [hidden]="!isExpanded && !isShowing" class="menu" [@menuExpendMouseOver]="isMenuMouserOver">
      <mat-list-item> Pepper </mat-list-item>
      <mat-list-item> Salt </mat-list-item>
      <mat-list-item> Paprika </mat-list-item>
      <mat-list-item>
        <button mat-icon-button (click)="go2()">
          <mat-icon>home</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-layout></app-layout>
    
  </mat-sidenav-content>
</mat-sidenav-container>
