.app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.app-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
}

.side-menu {
    overflow: hidden;
}

.menu-close {
    visibility: visible;
}

.page-loading-bar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}